/* Обертка для контента */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* Стили для header */
header {
    position: relative;
    background-color: var(--primary-color);
    color: white;
    padding: 2rem 0;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* Стили для main */
main {
    padding: 2rem 0;
}

section {
    margin-bottom: 3rem;
    position: relative;
}

/* Стили для формы */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стили для footer */
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1.5rem 0;
    margin-top: 2rem;
}

/* Стили для галереи */
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.gallery-container figure {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    background-color: white;
}

.gallery-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.gallery-container figcaption {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: var(--text-color);
}
